.up-button {
  position: fixed;
  right: 50px;
  opacity: 0.3 !important;
}

.show-up-button {
  transform: scale(2.7);
  bottom: 80px;
  visibility: visible;
  transition: all 300ms;
}

.show-up-button:hover {
  transform: scale(3.3);
  bottom: 80px;
  visibility: visible;
  transition: all 300ms;
}

.hide-up-button {
  transform: scale(0.7);
  bottom: -150px;
  visibility: hidden;
  transition: all 500ms;
}

@media screen and (max-width: 600px) {
  .welcome-text {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 601px) {
  .welcome-text {
    margin-bottom: 0;
  }
}
